<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      :root {
        --background: #001100;
        --color: #00ff00;
        --color-muted: #006600;
        --unit: 7px;
        --search-box-size: calc( var( --unit ) * 5 )
      }

      body {
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: var( --background );
        color: var( --color );
        font-family: monospace;
        font-size: 16px;
      }

      body > aside {
        height: 84px;
      }

      body > aside header {
        position: relative;
      }

      body > aside header .hotkey {
        position: absolute;
        top: 0;
        right: 0;
      }

      body > aside header h1 {
        margin: var( --unit );
        text-align: center;
      }

      body > svg {
        flex: 1;
      }

      body > svg .marker {
        fill: var( --color );
        cursor: pointer;
      }

      #marker-detail {
        position: fixed;
        left: var( --unit );
        bottom: var( --search-box-size );
        border: 1px solid var( --color-muted );
        padding: var( --unit );
        background: rgba( 0, 17, 0, 0.7 );
      }

      #marker-detail ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      #marker-detail li span {
        margin-left: var( --unit );
        font-weight: bold;
      }

      .row {
        display: flex;
      }

      .column {
        display: flex;
        flex-direction: column;
      }

      .column.centered {
        justify-content: center;
        align-items: center;
      }

      .column label {
      }

      .column label + span {
        margin-top: calc( var( --unit ) / 2 );
      }

      .column span {
        font-weight: bold;
      }

      .one {
        flex: 1;
      }

      #search-box {
        background: var( --background );
        position: relative;
        font-family: inherit;
        font-size: 1.4em;
      }

      #search-box form {
        display: flex;
      }

      #search-box form input {
        flex: 1;
        border: 1px solid transparent;
        background: transparent;
        color: inherit;
        position: relative;
        z-index: 1;
        font-family: inherit;
        font-size: inherit;
        height: var( --search-box-size );
        line-height: var( --search-box-size );
        padding: 0 var( --unit );
      }

      .hotkey {
        border: 1px solid var( --color-muted );
        border-radius: calc( var( --unit ) / 2 );
        width: calc( var( --search-box-size ) - ( var( --unit ) * 1.5 ) );
        height: calc( var( --search-box-size ) - ( var( --unit ) * 1.5 ) );
        line-height: calc( var( --search-box-size ) - ( var( --unit ) * 1.5 ) );
        text-align: center;
        margin: calc( var( --unit ) * 0.75 ) var( --unit );
        color: var( --color-muted );
        display: inline-block;
      }

      .hotkey.large {
        padding: 0 var( --unit );
        width: max-content;
      }

      #search-box ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        opacity: 0.4;
      }

      #search-box ul li {
        height: var( --search-box-size );
        line-height: var( --search-box-size );
        white-space: nowrap;
        padding: 0 var( --unit );
      }

      #help {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        display: none;
        flex-direction: column;
        background: var( --background );
        z-index: 1;
      }

      #help.visible {
        display: flex;
      }

      #help header {
        text-align: center;
      }

      #help ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <aside class="column">
      <header>
        <h1><% REGION %></h1>
        <span class="hotkey">?</span>
      </header>

      <section class="row">
        <div class="column centered one">
          <label>cases</label>
          <span><% CONFIRMED %></span>
        </div>

        <div class="column centered one">
          <label>deaths</label>
          <span><% DEATHS %></span>
        </div>

        <div class="column centered one">
          <label>recovered</label>
          <span><% RECOVERED %></span>
        </div>

        <div class="column centered one">
          <label>active</label>
          <span><% ACTIVE %></span>
        </div>
      </section>
    </aside>

    <% SVG %>

    <div id="search-box">
      <ul></ul>
      <form method="POST" action="/" autocomplete="off" novalidate>
        <input type="text" name="map[countries][0]" placeholder="region" required autocomplete="off" />
        <span class="hotkey">/</span>
      </form>
    </div>

    <div id="help">
      <header>
        <h2>help</h2>
      </header>

      <div class="row">
        <div class="one">
          <header>
            <h3>movement</h3>
          </header>

          <section>
            <ul>
              <li>
                <span class="hotkey">h</span>
                <label>left</label>
              </li>

              <li>
                <span class="hotkey">j</span>
                <label>down</label>
              </li>

              <li>
                <span class="hotkey">k</span>
                <label>up</label>
              </li>

              <li>
                <span class="hotkey">l</span>
                <label>right</label>
              </li>
            </ul>
          </section>
        </div>

        <div class="one">
          <header>
            <h3>zoom</h3>
          </header>

          <section>
            <ul>
              <li>
                <span class="hotkey">f</span>
                <label>in</label>
              </li>

              <li>
                <span class="hotkey">d</span>
                <label>out</label>
              </li>
            </ul>
          </section>
        </div>

        <div class="one">
          <header>
            <h3>others</h3>
          </header>

          <section>
            <ul>
              <li>
                <span class="hotkey large">esc</span>
                <label>reset map / close help</label>
              </li>

              <li>
                <span class="hotkey">r</span>
                <label>render global map</label>
              </li>

              <li>
                <span class="hotkey">/</span>
                <label>focus region search box</label>
              </li>

              <li>
                <span class="hotkey">?</span>
                <label>show this help</label>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      ( () => {
        // helpers
        function commaify( n ) {
          return n.toString().replace( /\B(?=(\d{3})+(?!\d))/g, ',' )
        }

        let transformMatrix = [ 1, 0, 0, 1, 0, 0 ]
        let svg = document.querySelector( '#svg-map' )
        let viewbox = svg.getAttributeNS( null, 'viewBox' ).split( ' ' )
        let centerX = parseFloat( viewbox[ 2 ] ) / 2
        let centerY = parseFloat( viewbox[ 3 ] ) / 2
        let matrixGroup = svg.querySelector( '#mapGroup' )

        function pan( dx, dy ) {
          transformMatrix[ 4 ] += dx
          transformMatrix[ 5 ] += dy

          let newMatrix = "matrix(" + transformMatrix.join( ' ' ) + ')'
          matrixGroup.setAttributeNS( null, 'transform', newMatrix )
        }

        function zoom( scale ) {
          for ( let i = 0; i < 4; i++ ) {
            transformMatrix[ i ] *= scale
          }

          transformMatrix[ 4 ] += ( 1 - scale ) * centerX
          transformMatrix[ 5 ] += ( 1 - scale ) * centerY

          let newMatrix = "matrix(" + transformMatrix.join( ' ' ) + ')'
          matrixGroup.setAttributeNS( null, 'transform', newMatrix )
        }

        function restore() {
          transformMatrix = [ 1, 0, 0, 1, 0, 0 ]

          let newMatrix = "matrix(" + transformMatrix.join( ' ' ) + ')'
          matrixGroup.setAttributeNS( null, 'transform', newMatrix )
        }

        document.addEventListener( 'keydown', ( e ) => {
          if ( e.target.nodeName === 'INPUT' ) return
          const help = document.querySelector( '#help' )
          switch( e.key.toLowerCase() ) {
            case 'j': // down
              pan( 0, -5 )
              break
            case 'k': // up
              pan( 0, 5 )
              break
            case 'l': // right
              pan( -5, 0 )
              break
            case 'h': // left
              pan( 5, 0 )
              break
            case 'f': // zoom in
              zoom( 1.25 )
              break
            case 'd': // zoom out
              zoom( 0.8 )
              break
            case 'escape': // restore
              const { className } = help
              if ( className === 'visible' )
                help.setAttribute( 'class', '' )
              else
                restore()
              break
            case '/': // find
              e.preventDefault()
              const input = document.querySelector( '#search-box input' )
              input.focus()
              break
            case '?': // help
              help.setAttribute( 'class', 'visible' )
              break
            case 'r': // restore global map
              window.location = '/'
              break
            // default:
            //   console.log( e )
          }
        } )

        const items = document.querySelectorAll( '#svg-map .marker' )
        items.forEach( el => {
          el.addEventListener( 'mouseenter', e => {
            const data = el.getAttribute( 'data-marker' )
              .split( '|' )
              .map( ( el, i ) => {
                const parts = el.split( ':' )
                return [ parts[0], i > 0 ? commaify( parts[1] ) : parts[1] ]
              } )

            const markerDetail = document.createElement( 'div' )
            markerDetail.setAttribute( 'id', 'marker-detail' )
            const ul = document.createElement( 'ul' )
            data
              .forEach( el => {
                const li = document.createElement( 'li' )
                const label = document.createElement( 'label' )
                const span = document.createElement( 'span' )
                label.innerText = el[0]
                span.innerText = el[1]
                li.appendChild( label )
                li.appendChild( span )
                ul.appendChild( li )
              } )
            markerDetail.appendChild( ul )

            document.body.appendChild( markerDetail )
          } )
          el.addEventListener( 'mouseleave', e => {
            const markerDetail = document.getElementById( 'marker-detail' )
            markerDetail.remove()
          } )
        } )

        // regions
        const regions = <% REGIONS %>

        const searchBox = document.querySelector( '#search-box' )
        const input = searchBox.querySelector( 'input' )
        const ul = searchBox.querySelector( 'ul' )
        const form = searchBox.querySelector( 'form' )

        input.addEventListener( 'keydown', e => {
          if ( e.keyCode !== 13 ) return

          const first = ul.querySelector( 'li' )
          const value = first.getAttribute( 'value' )
          input.value = value
        } )

        input.addEventListener( 'keyup', e => {
          const { value } = e.target
          if ( value === '' ) return ul.innerHTML = ''

          const childs = regions
            .map( el => ( {
              value: el.id,
              label: el.name.toLowerCase()
            } ) )
            .filter( el => {
              return el.label.indexOf( value ) === 0
            } )
            .slice( 0, 7 )
            .map( el => {
              return `<li value="${ el.value }">${ el.label }</li>`
            } )
            .join( '' )

          ul.innerHTML = childs
        } )
      } )()
    </script>
  </body>
</html>
